<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Directory</title>
  </head>
  <body>
    <div class="container">
      {{#users}}
        <div class="user">
          <img src="{{avatar}}" alt="{{name}}'s avatar'" class="user-image">
          <h2 class="user-name">{{name}}</h2>
          {{#job}} <!-- if university != null -->
            <p class="employed">{{job}}, {{company}}</p>
          {{/job}}
          {{^job}} <!-- if university is null -->
            <p class="available">Available for Hire</p>
          {{/job}}
          <p class="user-info">{{userInfo}}</p>
        </div>
      {{/user}}
    </div>
  </body>
</html>
