body {
  margin: 0;
  padding: 0;
}

.dir-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.dir-user {
  margin: 10px;
  flex: 0 0 20vw;
  border: 1px solid lightgray;
  text-align: center;
  font-family: sans-serif;
  align-self: flex-start;
}

.dir-user-image {
  width: 80%;
  margin: auto;
}

.dir-user-name {
  color: #3A85FF;
}

.available {
  color: red;
}
